section{
  border: 2px solid #bdc3c7;
  margin: 10px 0;
  padding: 1.5rem 1rem 1rem;
  border-radius: 8px;
  position: relative;
}
section::before{
  z-index: 1;
  content: attr(data-name);
  pointer-events: none;
  border-radius: .25rem;
  padding: 0.1rem;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color:#e74c3c;
  font-size: 16px;
}
section.style-1::before{
  background-color: #3498db;
}
section.style-2::before{
  background-color: #8e44ad;
}
section section::before{
  background-color:#27ae60;
  font-size: 14px;
}
section section section::before{
  background-color:#9b59b6;
}
.logo {
  width: 200px;
  height: 200px;
}